<!doctype html>
<html lang="ko"  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<th:block layout:fragment="css">
    <link href="/css/member.css" rel="stylesheet">
</th:block>

<th:block layout:fragment="content">
    <main id="content">


    </main>
</th:block>

<th:block layout:fragment="script">
    <script src="/js/lead.js"></script>
    <script th:inline="javascript">

    </script>
</th:block>

</html>