/* General Reset */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f6f9;
    box-sizing: border-box; /* 추가 */
}

*, *::before, *::after {
    box-sizing: inherit; /* 모든 요소에 box-sizing 적용 */
}

/* Container */
.lg_container {
    display: flex;
    height: 100vh;
}

/* Left Section */
.lg_left {
    flex: 1;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.lg_logo img {
    max-width: 200px;
    margin-bottom: 20px;
}

.lg_form {
    width: 100%;
    max-width: 300px;
}

.lg_form label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
    font-size: 14px;
}

.lg_form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px;
    border: 1px solid #83AA96;
    border-radius: 5px;
 
}

.lg_button {
    width: 100%; /* input과 동일한 너비 */
    padding: 10px;
    background-color: #83AA96;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.lg_button:hover {
    background-color: #EDE7C7;
}

.lg_options {
    margin-top: 10px;
    text-align: left;
}

.lg_forgot {
    font-size: 11px;
    color: #83AA96;
    text-decoration: none;
    font-weight: bold;
}

.lg_forgot:hover {
    text-decoration: underline;
}

/* Right Section */
.lg_right {
    flex: 1;
    background-color: #83AA96;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    text-align: center;
}

.lg_content h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.lg_image {
    max-width: 400px;
    margin-top: 40px;
}

/* Footer */
.lg_footer {
    text-align: center;
    padding: 10px 0;
    background-color: #8C7A6B;
    font-size: 12px;
    color: rgb(255, 255, 255)te;
    position: fixed; /* fixed로 변경 */
    bottom: 0;
    width: 100%;
}

/* 로그인때 유효성 검사 - 에러메세지 출력 */
.error-message{
    color: #dc3545;
    font-size: 0.95em;
    margin: 10px 0;
    /*    display: none;*/
}
