<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.jennie.nexoracrm.repository.LeadRepository">

<select id="selectLeads" resultType="project.jennie.nexoracrm.domain.LeadDTO">
SELECT     
    l.id,
    l.name,
    l.email,
    l.phone,
    l.company,
    l.source,
    l.status,
    l.owner_name
FROM leads l
<choose>
    <when test="role == 'MEMBER'">
        <!-- 회원 본인의 데이터만 조회 -->
        WHERE l.owner_name = (SELECT name FROM member WHERE userid = #{userid})
    </when>
    <when test="role == 'MANAGER'">
        <!-- 관리자의 경우, 본인 및 관리하는 회원의 데이터 조회 -->
        WHERE l.owner_name IN (
        SELECT name FROM member WHERE manager_id = #{userid} OR userid = #{userid}
        )
    </when>
    <when test="role == 'C_LEVEL'">
        <!-- 모든 데이터 조회 -->
        WHERE 1 = 1
    </when>
</choose>
ORDER BY l.id DESC
LIMIT #{stnum}, #{pageSize}
</select>

<select id="countLead" resultType="int">
    SELECT COUNT(*) cntld
    FROM leads l
    <choose>
        <when test="role == 'MEMBER'">
            WHERE l.owner_name = (SELECT name FROM member WHERE userid = #{userid})
        </when>
        <when test="role == 'MANAGER'">
            WHERE l.owner_name IN (
            SELECT name FROM member WHERE manager_id = #{userid} OR userid = #{userid}
            )
        </when>
        <when test="role == 'C_LEVEL'">
            <!-- 모든 데이터 조회 -->
            WHERE 1 = 1
        </when>
    </choose>
</select>

<insert id="convertAcc"
        parameterType="project.jennie.nexoracrm.domain.AccPassDTO"
        useGeneratedKeys="true" keyProperty="accId">
    insert into accounts(company_name,country,address,postal_code,company_size,owner_name)
    values (#{companyName},#{country},#{address},#{postalCode},#{companySize},#{ownerName})
</insert>

<insert id="convertCont"
        parameterType="project.jennie.nexoracrm.domain.ContactPassDTO"
        useGeneratedKeys="true" keyProperty="conId">
    insert into contacts(name,phone,email,owner_name,account_id)
    values (#{name},#{phone},#{email},#{ownerName},#{accId})
</insert>

<insert id="convertOppty"
        parameterType="project.jennie.nexoracrm.domain.OpptyPassDTO"
        useGeneratedKeys="true" keyProperty="opptyId">
    insert into opptys(opportunity_name,amount,source,target_close,owner_name,account_id,contact_id)
    values (#{opportunityName},#{amount},#{source},#{targetClose},#{ownerName},#{accId},#{conId})
</insert>


</mapper>
